html {
    background: #faf0e6;
}

body {
    background: #faf0e6;
    margin: auto;
    max-width: 800px;
    margin-top: 10vh;
    padding: 3em;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

.panel-body,
span {
    text-align: center;
}

a {
    cursor: pointer;
}

h2 {
    text-align: center;
}
#auth{
    position: absolute;
    right:0;
    top:0;
    padding:5px;
    
    background: #faf0e6;
}
.mainForm{
    width:50%;
    margin:auto;
}